- name: Debuggage
  ansible.builtin.debug:
    msg: "{{ (date_full | to_datetime('%Y-%m-%d %H_%M_%S')).timestamp() +5000 }}"
  tags:
    - debug
    - never

- name: Créer le groupe utilisateur
  become: true
  ansible.builtin.group:
    name: Utilisateurs-Services
  notify:
    - Empéche l'accés des Utilisateurs en SSH
    - Permet l'accés en sftp
    - Restart sshd

- name: Créer le compte d'un utilisateur
  become: true
  ansible.builtin.user:
    append: true
    home: "{{home_path}}"
    name: "{{ user_name }}"
    expires: "{{ (( user_type | get_expiration_date( user_year,  (date | int) )) | to_datetime('%Y_%m_%d')).timestamp() }}"
    password: "{{ user_hash }}"
    update_password: on_create
    groups: Utilisateurs-Services
    # je metztrais uid_min et uid_max ici si mon ansible etait à jour
# - name: Créer le compte mysql
#   community.mysql.mysql_user:
#     name: "{{ user_name }}"

- name: Créer un dossier writable dans le home
  become: true
  become_user: "{{ user_name }}"
  ansible.builtin.file:
    state: directory
    path: "{{ home_path }}/writable"
    mode: ug+rwX


- name: Créer un utilisateur debug pour tester des trucs
  become: true
  ansible.builtin.user:
    name: Debug
    expires: "{{ (date_full | to_datetime('%Y-%m-%d %H_%M_%S')).timestamp() +5000000 }}"
  tags:
    - debug
    - never

