- name: Debuggage
  ansible.builtin.debug:
    msg: "{{ (date_full | to_datetime('%Y-%m-%d %H_%M_%S')).timestamp() +5000 }}"
  tags:
    - debug
    - never

- name: Créer le groupe utilisateur
  become: true
  ansible.builtin.group:
    name: Utilisateurs-Services
  notify:
    - Empéche l'accés des Utilisateurs en SSH
    - Restart sshd

- name: Créer le compte d'un utilisateur
  become: true
  ansible.builtin.user:
    append: true
    home: "{{ user_type | get_home_path(user_name,user_year) }}"
    name: "{{ user_name }}"
    expires: "{{ (( user_type | get_expiration_date( user_year,  (date | int) )) | to_datetime('%Y_%m_%d')).timestamp() }}"
    password: "{{ user_hash }}"
    update_password: on_create
    groups: Utilisateurs-Services
    # je metztrais uid_min et uid_max ici si mon ansible etait à jour
# - name: Créer le compte mysql
#   community.mysql.mysql_user:
#     name: "{{ user_name }}"

# - name: Empéche l'accés ssh à l'utilisateur
#   become: true
#   ansible.builtin.lineinfile:
#     path: /etc/ssh/ssh_config
#     line: "    DenyUsers {{ user_name }}"
#   notify:
#     - Restart sshd

- name: Créer un utilisateur debug pour tester des trucs
  become: true
  ansible.builtin.user:
    name: Debug
    expires: "{{ (date_full | to_datetime('%Y-%m-%d %H_%M_%S')).timestamp() +5000000 }}"
  tags:
    - debug
    - never
