- name: Create  a docker folder in docker-manager path
  become: true
  become_user: "docker-manager"
  ansible.builtin.file:
    state: directory
    path: "{{ docker_compose_path }}"
    mode: ug+rwX

- name: Create a Compose.yml file
  become: true
  become_user: "docker-manager"
  ansible.builtin.template:
    src: "{{ path_to_template }}"
    dest: "{{ docker_compose_path }}/compose.yml"
    validate: docker-compose -f %s config --quiet
