- name: Empéche l'accés des Utilisateurs en SSH
  become: true
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    line: "DenyUsers Utilisateurs-Services"

- name: Permet l'accés en sftp
  become: true
  ansible.builtin.blockinfile:
    path: /etc/ssh/sshd_config
    block: |
      Match Group Utilisateurs-Services # indique que les lignes suivantes n'ont d'influence que sur le groupe Utilisateurs-Services
        ChrootDirectory %h          # restreint l'accès au dossier %home de l'utilisateur.
        X11Forwarding no            # empêche l'usage de déport d'affichage.
        AllowTcpForwarding no       # empêche l'usage de la redirection TCP.
        PermitTTY no
        ForceCommand internal-sftp  # impose l'utilisation du sftp pour se connecter.

- name: Restart sshd
  become: true
  ansible.builtin.service:
    name: "sshd"
    state: restarted
    enabled: true
 
